<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itsa Tech Blog </title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      {{!-- header --}}
      <h1>
        <i class="fa-solid fa-comments fa-xl"></i>
        <a class="site-title" href="/">Itsa Tech Blog</a>
      </h1>
      
      {{!-- navbar --}}
      <nav>
        <a href="/"><i class="fa-solid fa-house"></i> Home</a> |
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard"><i class="fa-solid fa-user"></i> Dashboard</a> |
        <button class="no-button" id="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</button>
        {{else}}
        <a href="/login"><i class="fa-solid fa-user"></i> Dashboard</a> |
        <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
        {{/if}}
      </nav>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    {{!-- future implementation for any desired links --}}
    <footer>
      
    </footer>
  </div>

  <script src="https://kit.fontawesome.com/a23205ab6e.js" crossorigin="anonymous"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
